
body{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
main{
    height: auto;
    overflow: hidden;
}
main[page="home"]{
    height: 100vh;
    background: url(../Assets/pexels-matheus-guimarães-611328\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
}
main .layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 0;
}

nav{
    flex-basis: 10%;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    position: relative;
    color: white;
}
nav .icons i{
    margin-right: 2rem;
    font-size: 1.8rem;
    cursor: pointer;
}
nav .hero_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}
nav .ham_wrapper{
    position: relative;
}
nav .hamburger{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    z-index: 50;
}
nav .hamburger div{
    width: 3.5rem;
    height: 0.25rem;
    margin: 0.5rem 0;
    z-index: 100;
    background-color: white;
    transition: 0.3s;
}
.hamburger.active div:first-child{
    transform: rotate(135deg);   
}
.hamburger.active div:last-child{
    transform: rotate(-135deg);   
}
.ham_wrapper .ham_layer{
    z-index: 40;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    height: 0;
    width: 0;
    background: var(--tertiary);
    transition: 0.6s ease-in-out;
    cursor: default;
}
.ham_layer.active{
    height: 50px;
    width: 50px;
    transform: scale(50,50);   
    transition: 0.6s ease-in-out;
}
.ham_layer::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    height: 90%;
    width: 90%;
    background: var(--secondary);
}

nav .links{
    display: flex;
    position: absolute;
    right: -50%;
    top: 100%;
    flex-direction: column;
    z-index: 100;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
nav .links.active{
    right: 30%;
    opacity: 1;
    transition: 0.3s ease-in-out;
}
nav .links a{
    text-transform: uppercase;
    font-size: 7rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    margin: 3rem 0 ;
}

.sec1{
    flex-basis: 90%;
    display: flex;
    align-items: flex-start;
    z-index: 10;
    position: relative;
}
.sec1 .intro{
    flex-basis: 50%;
    padding: 7% 0 0 9%;
    z-index: 10;
}

.intro h1{
    color: white;
    font-size: 6rem;
}
.intro p{
    color: white;
    font-size: 1.6rem;
    width: 70%;
    font-weight: 400;
    line-height: 2.2rem;
    margin: 2rem 0;
}
.intro button{
    height: 5rem;
    width: 17rem;
    background: #E8594E;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 5px;
}
.hero_bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 48%;
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 5;
}
.image{
    flex-basis: 73%;
    display: flex;
    justify-content: flex-end;
}
.image .image_wrapper{
    flex-basis: 30%;
}
.image_wrapper img{
    height: 100%;
    width: 100%;
}
.carousel{
    flex-basis: 27%;
    width: 100%;
    display: flex;
}
.search_box{
    flex-basis: 70%;
    display: flex;
    align-items: flex-end;
    color: white;
    position: relative;
}
.search_box i{
    position: absolute;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    z-index: 10;
    color: var(--primary);
}
.search_box input{
    width: 100%;
    height: 100%;
    padding: 0 4rem ;
    border: none;
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary);
    border-radius: 0.3rem 0 0 0;
}
.search_box input:focus{
    outline: none;
}
.search_box input::placeholder{
    font-size: 2rem;
    color: var(--primary);
}

.carousel .slider{
    flex-basis: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #73AFBA;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sec2{
    height: 100vh;
    padding: 5% 9% 0 9%;
}
.sec2 h1{
    font-size: 4.6rem;
    color: var(--primary);
    text-transform: capitalize;
}
.sec2 .cards{
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards .card{
    height: 45rem;
    width: 23.5%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.card aside{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 10%;
    background-color: rgba(115, 175, 186, 0.8);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    opacity: 0;
    transition: 0.3s;
}
.card aside p{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.8rem;
}
.card:hover aside{
    opacity: 1;
}
.card img{
    height: 100%;
    width: 100%;
}

.sec3{
    display: flex;
    height: 100vh;
    width: 100%;
    background: url(../Assets/pexels-sagui-andrea-618833.jpg);
}

.sec3_box1{
    flex-basis: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: rgba(0,0,0,0.2);
}
.sec3_box1_wrapper{
    padding: 0 0 12% 12%;
    width: 75%;
}
.sec3_box1_wrapper .tag{
    width: 12rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
    background: var(--tertiary);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    border-radius: 2.5rem;
}
.sec3_box1_wrapper h2{
    color: var(--text-white);
    font-size: 5rem;
    margin: 2.5rem 0;
    text-transform: capitalize;
}
.sec3_box1_wrapper p{
    color: var(--text-white);
    font-size: 1.4rem;
}
.sec3_box1_wrapper button{
    background: var(--secondary);
    color: var(--text-white);
    border:none;
    height: 6rem;
    width: 20rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    margin-top: 3.5rem;
}
.sec3_box2{
    flex-basis: 35%;
    padding: 5% 6% 0 6%;
    background: rgba(22,35,46,0.9);
}
.sec3_box2 h1{
    color: var(--text-white);
    font-size: 5rem;
    margin-bottom: 12%;
}
.sec3_box2 .person{
    display: flex;
    color: var(--text-white);
    padding: 7% 0;
    border-bottom: 1px solid rgba(91, 88, 88,0.7);
}
.person:last-child{
    border-bottom: none;
}
.sec3_box2 .person .pImg{
    flex-basis: 20%;
}
.pImg img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
.sec3_box2 .person .cmnt{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
}
.cmnt .ctn{
    width: 70%;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}

.ctn+.date{
    color: rgb(147, 142, 142);
    font-weight: 600;
}

.sec4,.sec6{
    height: 100%;
    width: 100%;
}
.sec4 .heading,
.sec6_head{
    margin-top: 7%;
    text-align: center;
}
.sec4 .heading h1,
.sec6_head h1{
    font-size: 5.5rem;
    color: var(--primary);
    margin-bottom: 1.5rem;
}
.sec4 .heading p,
.sec6_head p{
    font-size: 1.4rem;
    color: rgb(112, 124, 144);
    font-weight: 500;
    line-height: 2.3rem;
}
.sec4 .video_cards{
    display: flex;
    height: 60rem;
    position: relative;
    overflow: hidden;
}
.video_cards .v_card{
    border-radius: 0.5rem;
    overflow: hidden;
}
.video_cards .v_card img{
    height: 100%;
    width: 100%;
}
.video_cards .v_card:nth-child(2){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 80%;
    width: 55%;
}
.video_cards .v_card:first-child,
.video_cards .v_card:last-child{
    position: absolute;
    width: 30%;
    height: 65%;
    top: 50%;
    transform: translateY(-50%);
}
.video_cards .v_card:first-child{
    left: -10%;
}
.video_cards .v_card:last-child{
    right: -10%;
}

.sec5{
    height: 100vh;
    width: 100%;
    padding: 5% 8%;
}
.sec5 .newsletter{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background: url(../Assets/pexels-creative-vix-9754.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5%;
    display: flex;
    align-items: center;
    color: var(--text-white);
}

.sec5_box1{
    flex-basis: 50%;
    padding-left: 6%;
}
.sec5_box1 h1{
    font-size: 5.5rem;
    width: 70%;
}
.sec5_box1 p{
    margin-top: 2.5rem;
    width: 65%;
    font-size: 1.3rem;
    line-height: 2rem;
}
.sec5_box2{
    flex-basis: 50%;
    height: 100%;
    position: relative;
}
.sec5_box2 .sign_up{
    bottom: -29%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 0.7rem;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.sign_up .inputs{
    flex-basis: 77%;
    padding: 5% 10%;
}
.input_wrap{
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}
.input_wrap label{
    color: var(--primary);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
}
.input_wrap input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(112, 124, 144,0.5);
}
.input_wrap input:focus{
    outline: none;
}
.sign_up .btn_wrap{
    width: 100%;
    flex-basis: 20%;
}
.btn_wrap button{
    border: none;
    width: 100%;
    height: 100%;
    background: var(--secondary);
    color: var(--text-white);
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius:0 0 0.7rem 0.7rem;
}
.grid_wrap{
    padding: 5% 10%;
}
.sec6_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-auto-rows: 350px;
    grid-auto-flow: dense;
    gap: 2.5rem;
}
.sec6_grid div{
    border: 2px solid black;
    border-radius: 0.5rem;
}
.sec6_grid div:first-child{
    grid-column: span 2;
}
.sec6_grid div:last-child{
    grid-column: span 2;
}

.sec7{
    height: 100vh;
    width: 100%;
    display: flex;
}
.left_box,.right_box{
    flex-basis: 50%;
    display: flex;
    align-items: center;
}
.left_box_wrap{
    width: 55%;
    margin-left: 20%;
}
.left_box_wrap h1{
    color: var(--primary);
    font-size: 5.5rem;
}
.left_box_wrap p{
    color: rgb(112, 124, 144);
    font-weight: 500;
    line-height: 2.2rem;
    font-size: 1.4rem;
    margin: 3rem 0;
}
.left_box_wrap button{
    color: var(--text-white);
    background: var(--secondary);
    border: none;
    height: 6rem;
    width: 20rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.right_box{
    justify-content: center;
}

.sec7_grid{
    height: 50%;
    width: 50%;
    position: relative;
}
.sec7_grid .img{
    position: absolute;
    border-radius: 0.5rem;
    overflow: hidden;
}
.sec7_grid .img img{
    height: 100%;
    width: 100%;
}
.sec7_grid .img:first-child{
    top: -10%;
    left: -20%;
    height: 65%;
    width: 65%;
}
.sec7_grid .img:nth-child(2){
 height: 75%;
 width: 75%;
 right: -25%;
 top: -20%;   
}
.sec7_grid .img:nth-child(3){
    bottom: -6%;
    left: 0%;
    height: 45%;
    width: 45%;
}
.sec7_grid .img:last-child{
    bottom: -16%;
    right: -5%;
    height: 55%;
    width: 55%;   
}


footer .upper{
    display: flex;
    padding: 5% 7%;
    border-top: 0.1rem solid rgb(112, 124, 144);
    border-bottom: 0.1rem solid rgb(112, 124, 144);
}
.upper .f_left{
    flex-basis: 70%;
    display: flex;
}
.f_left .box1{
    flex-basis: 33%;
}
.box1 h4,.f_right h4{
    color: var(--primary);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
    margin-bottom: 4rem;
    position: relative;
}
.box1 h4::before,
.f_right h4::before{
    content: '';
    position: absolute;
    height: 0.4rem;
    width: 15%;
    border-radius: 0.5rem;
    bottom: -100%;
    left: 0;
    background-color: var(--secondary);
}
.f_left ul li{
    color: rgb(112, 124, 144);
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0;
    cursor: pointer;
}
.upper .f_right{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    padding: 0 3%;
}
.f_right input{
    height: 5.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(112, 124, 144);
    margin-bottom: 1rem;
    padding: 0 2rem;
    font-weight: 500;
    color: rgb(112, 124, 144);
}
.f_right input:focus{
    outline: none;
}
.f_right input::placeholder{
    color: rgb(112, 124, 144);
    font-weight: 500;
}
.f_right button{
    border: none;
    border-radius: 0.5rem;
    background: var(--secondary);
    height: 5.5rem;   
    color: var(--text-white);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    font-size: 1.2rem;
}
footer .down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(112, 124, 144);
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1.5% 7%;
}
footer .terms{
    display: flex;
}
footer .terms p{
    margin: 0 2.5rem;
}