nav{
    flex-basis: 10%;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    position: relative;
    color: white;
}
nav .icons i{
    margin-right: 2rem;
    font-size: 1.8rem;
    cursor: pointer;
}
nav .hero_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}
nav .ham_wrapper{
    position: relative;
}
nav .hamburger{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    z-index: 50;
}
nav .hamburger div{
    width: 3.5rem;
    height: 0.25rem;
    margin: 0.5rem 0;
    z-index: 100;
    background-color: white;
    transition: 0.3s;
}
.hamburger.active div:first-child{
    transform: rotate(135deg);   
}
.hamburger.active div:last-child{
    transform: rotate(-135deg);   
}
.ham_wrapper .ham_layer{
    z-index: 40;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    height: 0;
    width: 0;
    background: var(--tertiary);
    transition: 0.6s ease-in-out;
    cursor: default;
}
.ham_layer.active{
    height: 50px;
    width: 50px;
    transform: scale(50,50);   
    transition: 0.6s ease-in-out;
}
.ham_layer::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    height: 90%;
    width: 90%;
    background: var(--secondary);
}

nav .links{
    display: flex;
    position: absolute;
    right: -50%;
    top: 100%;
    flex-direction: column;
    z-index: 100;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
nav .links.active{
    right: 30%;
    opacity: 1;
    transition: 0.3s ease-in-out;
}
nav .links a{
    text-transform: uppercase;
    font-size: 7rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    margin: 3rem 0 ;
    cursor: pointer;
}