body{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
main{
    height: auto;
    overflow: hidden;
}

main[page="packages"]{
    height: 100vh;
    background: url(../Assets/pexels-sagui-andrea-618833.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
}
main .layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 0;
}

nav{
    flex-basis: 10%;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    position: relative;
    color: white;
}
nav .icons i{
    margin-right: 2rem;
    font-size: 1.8rem;
    cursor: pointer;
}
nav .hero_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}
nav .ham_wrapper{
    position: relative;
}
nav .hamburger{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    z-index: 50;
}
nav .hamburger div{
    width: 3.5rem;
    height: 0.25rem;
    margin: 0.5rem 0;
    z-index: 100;
    background-color: white;
    transition: 0.3s;
}
.hamburger.active div:first-child{
    transform: rotate(135deg);   
}
.hamburger.active div:last-child{
    transform: rotate(-135deg);   
}
.ham_wrapper .ham_layer{
    z-index: 40;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    height: 0;
    width: 0;
    background: var(--tertiary);
    transition: 0.6s ease-in-out;
    cursor: default;
}
.ham_layer.active{
    height: 50px;
    width: 50px;
    transform: scale(50,50);   
    transition: 0.6s ease-in-out;
}
.ham_layer::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    height: 90%;
    width: 90%;
    background: var(--secondary);
}

nav .links{
    display: flex;
    position: absolute;
    right: -50%;
    top: 100%;
    flex-direction: column;
    z-index: 100;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
nav .links.active{
    right: 30%;
    opacity: 1;
    transition: 0.3s ease-in-out;
}
nav .links a{
    text-transform: uppercase;
    font-size: 7rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    margin: 3rem 0 ;
    cursor: pointer;
}

.pkg_intro{
    color: white;
    z-index: 5;
    text-align: center;
    margin: auto 0;
}
.pkg_intro h1{
    font-size: 8rem;
}
.pkg_intro p{
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 2.3rem;
    color: rgba(255,255,255,0.9);
}

.pkg_list{
    padding:  5%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pkg_list_wrapper{
    width: 90%;
    columns: 3;
    column-gap: 3rem;
}

.card{
    text-align: center;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 3rem;
    cursor: pointer;
}
.card_img{
    width: 100%;
}
.card_img img{
    width: 100%;
}
.card_ctn{
    padding: 3.5rem 10%;
    border-radius: 0 0 0.5rem 0.5rem;
    border-left: 1px solid rgb(208, 212, 220);
    border-right: 1px solid rgb(208, 212, 220);
    border-bottom: 1px solid rgb(208, 212, 220);
}
.card_ctn span{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--secondary);
    letter-spacing: 1px;
    font-size: 1rem;
}
.card_ctn h2{
    color: var(--primary);
    text-transform: capitalize;
    font-size: 2rem;
    margin: 1.5rem 0 0.5rem 0;
}
.card_ctn p{
    font-weight: 500;
    color: rgb(149, 157, 171);
    line-height: 1.9rem;
    font-size: 1.2rem;
}

footer .upper{
    display: flex;
    padding: 5% 7%;
    border-top: 0.1rem solid rgb(112, 124, 144);
    border-bottom: 0.1rem solid rgb(112, 124, 144);
}
.upper .f_left{
    flex-basis: 70%;
    display: flex;
}
.f_left .box1{
    flex-basis: 33%;
}
.box1 h4,.f_right h4{
    color: var(--primary);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
    margin-bottom: 4rem;
    position: relative;
}
.box1 h4::before,
.f_right h4::before{
    content: '';
    position: absolute;
    height: 0.4rem;
    width: 15%;
    border-radius: 0.5rem;
    bottom: -100%;
    left: 0;
    background-color: var(--secondary);
}
.f_left ul li{
    color: rgb(112, 124, 144);
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0;
    cursor: pointer;
}
.upper .f_right{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    padding: 0 3%;
}
.f_right input{
    height: 5.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(112, 124, 144);
    margin-bottom: 1rem;
    padding: 0 2rem;
    font-weight: 500;
    color: rgb(112, 124, 144);
}
.f_right input:focus{
    outline: none;
}
.f_right input::placeholder{
    color: rgb(112, 124, 144);
    font-weight: 500;
}
.f_right button{
    border: none;
    border-radius: 0.5rem;
    background: var(--secondary);
    height: 5.5rem;   
    color: var(--text-white);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    font-size: 1.2rem;
}
footer .down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(112, 124, 144);
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1.5% 7%;
}
footer .terms{
    display: flex;
}
footer .terms p{
    margin: 0 2.5rem;
}