.prompt_wrap{
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}
.prompt_wrap.active{
    display: flex;
}
.prompt{
    height: 72%;
    width: 72%;
    background: var(--bg-white);
    box-shadow: 0 1px 25px rgba(0,0,0,0.2);
    border-radius: 0.6rem;
    overflow: hidden;
}  
.prompt .prompt_instruct,
.prompt .prompt_book{
    display: none !important;
}
.prompt .prompt_instruct.active{
    display: flex !important;
}
.prompt .prompt_book.active{
    display: block !important;
}
.prompt section{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}
.prompt_instruct .images{
    height: 100%;
    flex-basis: 35%;
    max-width: 35%;
    display: flex;
    flex-direction: column;
}
.images .img_wrap{
    flex-basis: 50%;
    max-height: 50%;
}
.images .img_wrap img{
    height: 100%;
    width: 100%;
}
.prompt_instruct .prompt_ctn{
    flex-basis: 65%;
    max-width: 65%;
    padding: 3% 5%;
}
.prompt_instruct .prompt_ctn h1,
.left_half .book_heading h1{
    font-size: 3.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: transparent;
    background: linear-gradient(to right, #73AFBA 30%, #E8594E 70%);
    -webkit-background-clip: text;
}
.prompt_instruct .prompt_ctn h3{
    color: #86888B;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 4rem 0 3rem 0;
}
.prompt_instruct .prompt_ctn ul li{
    color: #838383;
    list-style: none;
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin: 1.2rem 0;
}
.prompt_instruct .prompt_ctn button,
.left_half form button{
    margin-top: 3rem;
    height: 5rem;
    width: 15rem;
    border-radius: 0.3rem;
    color: var(--text-white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    background: linear-gradient(to right, #73AFBA, #E8594E);
    cursor: pointer;
}
.prompt_instruct .close_btn,
.prompt_book .close_btn{
    position: absolute;
    top: 6%;
    right: 4%;
    cursor: pointer;  
    z-index: 100;  
}

.prompt_book{
    background: url(../Assets/book_bg.jpg);
    background-position: center;
    background-size: cover;
} 
.login{
    background: url(../Assets/pexels-michał-osiński-3454270.jpg);
    background-position: center;
    background-size: cover;

}
.left_half{
    width: 50%;
    padding: 5rem;
    position: relative;
}
.book_wrap .skew_bg{
    content: '';
    position: absolute;
    top: 0;
    left: -10%;
    width: 60%;
    height: 100%;
    background: rgba(255,255,255, 0.9);
    transform: skewX(-15deg);
    transition: 0.3s ease-in-out;
}
.skew_bg.ext{
    left: 50%;
}
.login .skew_bg{
    background: rgba(255,255,255, 0.8);
}
.left_half{
    opacity: 1;
    transition: 0.3s ease-in-out;
}
.left_half.invisible{
    opacity: 0;
}
.left_half .book_heading h1{
    font-size: 3.4rem;
}
.left_half form{
    padding-top: 1.5rem;
}
.left_half .input{
    margin-top: 3.5rem;
}
.login .left_half .input{
    margin-top: 3rem;
}
.left_half form .input input{
    height: 5rem;
    background: var(--bg-white);
    border: none;
    width: 70%;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
}
.left_half form .input>input:focus{
    outline: none;
}
.left_half form .input>input::placeholder{
    color: #838383;
}
.left_half form .radio_wrap{
    margin-top: 4rem;
    display: flex;
    align-items: center;
}
.left_half form .radio_wrap .radio_btn{
    margin-right: 10%;
    display: flex;
    align-items: center;
    color: #828282;
    font-size: 1.6rem;
    position: relative;
}
.left_half form .radio_wrap .radio_btn input[type="radio"]{
    z-index: 10;
    height: 2rem;
    width: 2rem;
    margin-right: 1.2rem;
}
.left_half form .radio_wrap .radio_btn input[type="radio"]:checked{
    accent-color: #E8594E;
}
.left_half form button{
    margin-top: 4.5rem;
    letter-spacing: 1px;
}

.book_wrap{
    display: flex;
}
.right_half{
    width: 50%;
    padding: 5rem;
    z-index: 10;
    opacity: 0;
    padding-left: 10%;
    transition: 0.3s ease-in-out;
}
.login .right_half{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right_half.visible{
    opacity: 1;
}
.right_half form{
    width: 100%;
}
.right_half form .step-1{
    width: 100%;
}
.right_half form .step-1 .input{
    width: 100%;
}
.d-flex{
    display: flex !important;
}
.mr-1{
    margin-right: 0.25rem !important;
}
.mr-2{
    margin-right: 0.5rem !important;
}
.mr-3{
    margin-right: 0.75rem !important;
}
.mr-4{
    margin-right: 1rem !important;
}
.w-50{
    width: 50% !important;
}
.w-100{
    width: 100% !important;
}

.counter{
    position: relative;
}
.counter input{
    padding-left: 5rem !important;
    padding-right: 5rem !important;
    text-align: center;
}
.counter span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    font-weight: normal;
    cursor: pointer;
}
.counter span:first-child{
    color: #E8594E;
    left: 10%;
}
.counter span:last-child{
    color: #73AFBA;
    right: 10%;
    font-size: 3rem;
}

input:focus{
    outline: none;
}

.login_btns span{
    margin-left: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: #808080;
}
.login_btns span:hover{
    text-decoration: underline;
}