@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
main{
    height: 100vh;
    background: url(../Assets/pexels-matheus-guimarães-611328\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
}
main .layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 0;
}

nav{
    flex-basis: 10%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    position: relative;
}
nav .icons i{
    color: white;
    margin-right: 2rem;
    font-size: 1.8rem;
    cursor: pointer;
}
nav .hero_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}
nav .hamburger{
    cursor: pointer;
}
nav .hamburger div{
    width: 3.5rem;
    height: 0.3rem;
    margin: 0.5rem 0;
    background-color: white;
}

section{
    flex-basis: 90%;
    display: flex;
    align-items: flex-start;
    z-index: 10;
    position: relative;
}
section .intro{
    flex-basis: 50%;
    padding: 7% 0 0 9%;
    z-index: 10;
}

.intro h1{
    color: white;
    font-size: 6rem;
}
.intro p{
    color: white;
    font-size: 1.6rem;
    width: 70%;
    font-weight: 400;
    line-height: 2.2rem;
    margin: 2rem 0;
}
.intro button{
    height: 5rem;
    width: 17rem;
    background: #E8594E;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 5px;
}
.hero_bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 48%;
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 5;
}
.image{
    flex-basis: 73%;
    display: flex;
    justify-content: flex-end;
}
.image .image_wrapper{
    flex-basis: 30%;
}
.image_wrapper img{
    height: 100%;
    width: 100%;
}
.carousel{
    flex-basis: 27%;
    width: 100%;
    display: flex;
}
.search_box{
    flex-basis: 70%;
    display: flex;
    align-items: flex-end;
    color: white;
    position: relative;
}
.search_box i{
    position: absolute;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    z-index: 10;
    color: #181936;
}
.search_box input{
    width: 100%;
    height: 100%;
    padding: 0 4rem ;
    border: none;
    font-size: 2rem;
    font-weight: 500;
    color: #181936;
    border-radius: 0.3rem 0 0 0;
}
.search_box input:focus{
    outline: none;
}
.search_box input::placeholder{
    font-size: 2rem;
    color: #181936;
}

.carousel .slider{
    flex-basis: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #73AFBA;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.second_main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.second_main h1{
    padding: 10rem 0 0 14rem;
    font-size: 4rem;
}

.cards{
    display: flex;
    flex-direction: row;
    margin: 8rem 0 0 14rem;
}

.cards img{
    margin-right: 4rem;
    border-radius: 1rem;
}

.left_sec2{
    height: 100vh;
    width: 70%;
    padding-left: 14rem;
    padding-top: 35rem;
}

.button1{
    height: 3.5rem;
    width: 10rem;
    background-color: orangered;
    color: white;
    border-radius: 2rem;
    margin-bottom: 2rem;
    border: none;
    cursor: pointer;
}


.section2{
    background-image: url(../Assets/pexels-daffa-rayhan-zein-1056117.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.left_sec2 h1{
    color: white;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.button2{
    height: 5.5rem;
    width: 20rem;
    background-color:darkcyan;
    color: white;
    border-radius: 0.5rem;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
}

.right_sec2{
    height: 100vh;
    width: 30%;
    padding-left: 8rem;
    background-color:rgba(0,0,0,.5);
}

.right_sec2 h1{
    font-size: 4rem;
    color: white;
    margin: 6rem 0 6rem 0;
}

.items{
    display: flex;
    flex-direction: row;
}

.desc{
    margin-left: 5rem;
}


.desc h3{
    color: white;
    font-size: 1.5rem;
}

.desc p{
    color:grey;
    font-size: 1.1rem;
}

.right_sec2 hr{
    margin: 2rem 0  2rem 0 ;
    width: 80%;
    border-bottom: none;
    border-color: grey;
}

.section3{
    height: 100vh;
}

.section3 h1{
    font-size: 4rem; 
    padding: 6rem 0 0 60rem;
}

.section3 p{
    font-size: 1.2rem;
    padding: 3rem 0 0 45rem;
    color: grey;
}

.cons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.con1{
    height:35rem;
    width: 40rem;
    margin: 11rem 0 0 -14rem;
    border-radius: 10px;
    background-color: greenyellow;
}

.con2{
    height: 45rem;
    width: 70rem;
    margin-top: 6rem;
    border-radius: 10px;
    background-color: aqua;
}

.con3{
    height: 35rem;
    width: 40rem;
    margin: 11rem -14rem 0 0;
    border-radius: 10px;
    background-color:yellow;
}

